{% extends 'base.html' %}
{% block content %}

{% if clients_list %}
<div class="row">
    <a href=" {% url 'work:client_create' %}">Create New Client</a>
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>
    <span class="counter pull-right"></span>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Clients</h3>
        </div>
        
        <table class="table table-striped results">
            <thead>
                <tr class="warning no-result">
                  <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                </tr>
            </thead>
            <tbody>
            {% for client in clients_list %}
                <tr>
                    <th>
                        <span class="col-md-8">
                            <a href="{% url 'work:clients_detail' client.id %}">
                                {% if client.first_name %}
                                {{ client.first_name }} {{ client.last_name }}
                                {% else %}
                                {{client.company_name}}
                                {% endif %}
                            </a></span>
                        <span class="col-md-2 text-muted">Open Balance: {{ client.projects_total}}</span>
                        <span class="col-md-2">
                            <a href=" {% url 'work:clients_update' client.id %}">edit</a>  
                            <a href=" {% url 'work:clients_delete' client.id %}">delete</a></span>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No client available.</p>
    {% endif %}
    </div>
</div>




{% endblock %} 