{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        {% if client.company_name %} <h1>{{client.company_name}}</h1>
        {% else %}<h1>{{ client.first_name }} {{ client.last_name }}</h1>
        {% endif %}
    </div>
</div>

<br />
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Details</h3></div>
    <div class="panel-body">
        <div class="col-md-1">
            <p class="text-muted"> Address:</p>
        </div>
        <div class="col-md-9">
            <p>{{ client.address.street }}<br />
            {{ client.address.city}} {{client.address.zip_code}}</p>
        </div>
        <div class="col-md-2">
            <p class="text-rjght">
            {% if client.email %}{{ client.email }}<br />{% endif %}
            {% if client.phone_number %}{{ client.phone_number }}</p>{% endif %}
        </div>
<br />
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Total</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
                {% for project in quotes %}
            <tr class="warning">
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.project_id }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.name }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.total }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.due_date }}</a></th>
            </tr>
            {% endfor %}
                {% for project in work_order %}
            <tr class="success">
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.project_id }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.name }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.total }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.due_date }}</a></th>
            </tr>
            {% endfor %}
                {% for project in completed %}
            <tr class="completed">
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.project_id }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.name }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.total }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.due_date }}</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %} 