{% extends 'base.html' %}
{% block content %}



<div class="row">
    <a href=" {% url 'work:project_create' %}">Create New Project</a>
    
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>
    <span class="counter pull-right"></span>
</div>
{% if projects_list %}

<div class="row">   
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
            {% if status == 'QT' %}
                Quotes
            {% endif %}
            {% if status == 'WO' %}
                Word Orders
            {% endif %}
            {% if status == 'CO' %}
                Completed
            {% endif %}        
            </h3>
        </div>
        <table class="table table-striped sortable results">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Client</th>
                    <th>Total</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody class="list">
            {% for project in projects_list %}
                <tr>
                    <td class="project-id"><a href="{% url 'work:project_detail' project.project_id %}">{{ project.project_id }}</a></td>
                    <td class="project-name"><a href="{% url 'work:project_detail' project.project_id %}">{{ project.name }}</a></td>
                    <td class="project-client"><a href="{% url 'work:project_detail' project.project_id %}">{{ project.client }}</a></td>
                    <td class="project-total"><a href="{% url 'work:project_detail' project.project_id %}">{{ project.total }}</a></td>
                    <td class="project-due" data-dateformat="MMM DD YYYY"><a href="{% url 'work:project_detail' project.project_id %}">{{ project.due_date|date:"M d Y" }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No project available.</p>
    {% endif %}
    </div>
</div>


{% endblock %} 