{% extends 'base.html' %}
{% block content %}

<a href=" {% url 'work:project_create' %}">Create New Project</a>



{% if projects_list %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
        {% if status == 'QT' %}
            Quotes
        {% endif %}
        {% if status == 'WO' %}
            Word Orders
        {% endif %}
        {% if status == 'CO' %}
            Completed
        {% endif %}        
        </h3>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Total</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects_list %}
            <tr>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.project_id }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.name }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.total }}</a></th>
                <th><a href="{% url 'work:project_detail' project.project_id %}">{{ project.due_date }}</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> No project available.</p>
{% endif %}
</div>
{% endblock %} 