{% extends 'base.html' %}
{% block content %}
 
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <div class="pull-left">
            <a href=" {% url 'work:clients_detail' project.client.id %}"><h1>{{ project.client }}</a><small>  {{ project.name }}</small></h1>
            <h4>Start Date: {{project.create_date}}</h4>
            <h4>Due Date: {{project.due_date}}</h4>
            <h4>Deposit: {{project.deposit}}%</h4>
        </div>
        <div class="pull-right text-right">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><a href="#"><a href=" {% url 'work:project_update' project.project_id %}">Edit</a></a></li>
                <li><a href="#"><a id="convert" onclick="document.getElementById('myform').submit();">Convert</a></a></li>
                <li><a href="#"><a href="{% url 'work:project_pdf' project.project_id %}">Print PDF</a></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><a href=" {% url 'work:project_delete' project.project_id %}">Delete</a></a></li>
              </ul>
            </div>
            <h2>Job #{{ project.project_id }}</h2>
            <h4 class="text-muted status">Status: {{ project.get_status_display }}</h4>
        </div>
    </div>    
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Line Items</h3>
    </div>
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit Cost</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for lineitem in lineitems %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="col-md-2">{{ lineitem.name }}</td>
                    <td class="col-md-7">{{ lineitem.description|linebreaksbr }}</td>
                    <td class="col-md-1">{{ lineitem.price }}</td>
                    <td class="col-md-1">{{ lineitem.quantity }}</td>
                    <td class="col-md-1">{{ lineitem.tallys.total }}</td>
                    
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td>{{project.sub_total}}</td>
                </tr>
                {% if project.discount > 0 %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>(-{{project.discount}}%) Discount:</td>
                    <td>{{ project.cash_discount }}</td>
                </tr>            
                {% endif %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax</td>
                    <td>{{project.tax}}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>{{project.total}}</td>
                </tr>
            </tbody>
    </table>
</div>

<form action="" method="post" id="myform">
    {% csrf_token %}
    {{ project_form.non_field_errors }}
    
    <div class="form-actions">
        <div class="form-group">
            {{ status_form.status.as_hidden }}
        </div>
     </div>
</form>
<script>
$(function() {
  var status = $(".status").text();
  var status = status.substring(8);
  if (status == 'Quote') {
  $('#convert').text('Convert to Work Order');
};
  if (status == 'Work Order') {
  $('#convert').text('Close Job');
};
  if (status == 'Complete') {
  $('#convert').text('Reopen Job');
};
});
</script>

{% endblock %} 